<div class="container">
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<% if flash[:alert] %>
  				<p style="color:red;"><%= flash[:alert] %></p>
			<% end %>  
			<div id="clearance" class="sign-in">
			  <h2><%= t(".title") %></h2>
			  <%= render partial: '/sessions/form' %>
			</div>
		</div>
	</div>		
</div>