<div id="filterrific_results">
<div class="container">
  <div class="row">
  <%listings.each do |listing|%>
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading"><%=listing.title%></div>
        <div class="panel-body"><img src="<%=listing.avatars_urls.first%>" class="img-responsive" style="width:325px; height:200px;" alt="Image"></div>
        <div class="panel-footer">
        <%= link_to 'Book Now', new_listing_booking_path(listing) %> 
        <p class="pull-right"><%= link_to 'More Info', listing %></p>
        </div>
      </div>
    </div>
    <%end%>
  </div>
</div>
</div>


